<mat-horizontal-stepper>
    <mat-step>
      <ng-template matStepLabel>Sus productos</ng-template>
      <div *ngIf="(products$ | async) as products">
          <p *ngIf="products.length === 0">no hay productos</p>
         
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Your products</ng-template>
            <div *ngIf="(products$ | async) as products">
              <!-- No hay productos -->
              <p *ngIf="products.length === 0">
                Your cart is empty.
              </p>
              <!-- Productos -->
              <mat-card *ngFor="let product of (products | removeDoubleProducts) as productsWithoutDuplicates">
                <div *ngIf="(1 | countingProducts: product:products) as count">
                  <mat-card-header>
                    <img mat-card-avatar [src]="product.image">
                    <mat-card-title>{{ product.title }} ({{ 1 | countingProducts: product:products }})</mat-card-title>
                    <mat-card-subtitle>{{ product.price * count | currency }}</mat-card-subtitle>
                  </mat-card-header>
                  <!-- Control de cantidad de productos -->
                  <div>
                    <button mat-mini-fab color="primary" class="quantity-button" [disabled]="count===1"
                      (click)="remove(product.id)"> - </button>
                    <button mat-mini-fab color="primary" class="quantity-button" (click)="addCart(product)"> + </button>
                  </div>
                  <!-- Acciones -->
                  <mat-card-actions>
                    <button mat-button color="primary" (click)="removeFromCart(product.id)">Eliminar</button>
                  </mat-card-actions>
                </div>
              </mat-card>
              <!-- Total -->
              <div *ngIf="products.length !== 0">
                <mat-divider></mat-divider>
                <h2>Total: {{ totalAmount() | currency }}</h2>
              </div>
            </div>
          </form>
          
      </div>
      
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Datos personales</ng-template>
      <h1>contenifo</h1>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Pago</ng-template>
      <h1>contenifo</h1>
    </mat-step>
  </mat-horizontal-stepper>

